/.idea/vcs.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/puppeteer_chrome.iml
/.idea/jsLibraryMappings.xml
/.idea/inspectionProfiles/Project_Default.xml
